<img src="datamecum_logo.png" align="right" style="float" width="400">
<font color="#CA3532"><h1 align="left">Programa técnico intensivo en data science. Datamecum.</h1></font>
<font color="#6E6E6E"><h2 align="left">Módulo Introducción a Python.</h2></font> 
<font color="#6E6E6E"><h2 align="left">Ejercicio Pandas. Series.</h2></font> 

#### Marcelino Martínez Sober, Juan Gómez-Sanchis
##### Alumna: Maria Balos

### Ejercicio 1.

Importa el módulo numpy como np,pandas como pd y las fuciones Series y DataFrame de Pandas.

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Ejercicio 2. 

Crea una serie denominada ``obj`` que contenga los valores 4,8,10 y 24. Muestra la serie.

In [3]:
obj = Series([4, 8, 10, 24])
obj

0     4
1     8
2    10
3    24
dtype: int64

### Ejercicio 3. 

Muestra los valores contenidos en la serie que has creado en el ejercicio anterior.

In [4]:
obj.values

array([ 4,  8, 10, 24])

### Ejercicio 4. 

Muestra los índices contenidos en la serie que has creado en el ejercicio anterior.

In [5]:
list(obj.index)

[0, 1, 2, 3]

### Ejercicio 5. 

Crea la serie ``ww2_cas`` cuyos valores son 8700000,4300000,3000000,2100000,400000 y los índices 'USSR','Germany','China','Japan','USA'.

In [6]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000], index = ['USSR','Germany','China','Japan','USA'])

### Ejercicio 6. 

Muestra el valor del índice USA de la serie.

In [7]:
print(ww2_cas["USA"])

400000

### Ejercicio 7.

Comprueba cuantos índices de la serie ``ww2_cas`` tienen un valor mayor de 4000000.

In [12]:
count = 0
for index in ww2_cas:
    if index > 4000000:
        count +=1
        print(f"Numbers higher then 4000000 are: {index}")
print("There are {count} numbers higher then: 4000000.")

Numbers higher then 4000000 are: 8700000
Numbers higher then 4000000 are: 4300000
There are {count} numbers higher then: 4000000.

### Ejercicio 8. 

Comprueba si el índice USSR está contenido en la serie ``ww2_cas``.

In [13]:
check_if_element = "USSR" in ww2_cas
check_if_element

True

### Ejercicio 9

Convierte la serie ``ww2_cas`` en un diccionario denominado ``ww2_dict``. Una pista, explora el método ``to_dict`` de una serie.

In [14]:
ww2_dict = dict(ww2_cas)
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

### Ejercicio 10. 

Realiza la operación opuesta, convierte el diccionario ``ww2_dict`` a una nueva serie denominada  ``WW2_Serie``

In [15]:
WW2_Serie = Series(ww2_dict)
WW2_Serie

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

### Ejercicio 11. 

Crea una serie denominada ``obj2`` a partir del diccionario ``ww2_dict`` cuyos índices vengan dados por  la lista,  ``countries`` = ['China','Germany','Japan','USA','USSR','Argentina']

In [16]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']
obj2 = Series(ww2_dict, index= countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

### Ejercicio 12. 

Encuentra los valores ``NaN`` de la serie ``obj2``
.

In [17]:
elem_is_null = pd.isnull(obj2)
elem_is_null

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [18]:
elem_is_notnull = pd.notnull(obj2)
elem_is_notnull

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

### Ejercicio 13. 

Es posible sumar los valores de bajas en la WWII (es el valor de la serie que estamos trabajando) de la series ``WW2_Series``  y ``obj2``? Cómo lo harías?

In [21]:
sum_elem = WW2_Serie.add(obj2)
print(sum_elem)

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

### Ejercicio 14. 

Proporcionale un nombre a la serie ``obj2``, en concreto "World War 2 Casualties". Pista, utiliza el método ``name``.

In [22]:
obj2.name = "World War 2 Casualties"
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

### Ejercicio 15. 

Otra cosa nueva, os pido un poco de imaginación y poder de extrapolación... Intenta añadir un nombre ('Countries') al índice de una serie. Pista, utiliza el atributo de la serie ``index.name``

In [23]:
obj2 
obj2.rename_axis("Countries")

Countries
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64